<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
        <ion-button
        routerLink="/home"
        routerDirection="forward">sair</ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bem vindo ao Sistema de Gerenciamento de Cursos!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui você poderá gerenciar seus cursos e matrículas e muito mais!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
